@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";
@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");
/* ----- GENERAL ----- */
body {
  background-color: #fafafa;
  margin: 0auto;
  font: 400 100%/1 Oswald, Helvetica, sans-serif;
}

.nopadding {
  padding: 0 !important;
}

main h1 {
  font-weight: 700;
  text-transform: uppercase;
  text-align: right;
  padding-right: 10px;
  padding-top: 30px;
  color: #191919;
}
main p {
  font-size: 0.7em;
  text-align: right;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 1em;
  color: #191919;
}

/* ----- HEADER ----- */
header .navbar-light {
  background-color: green;
}
header .navbar {
  background-color: #191919;
}
header .navbar .navbar-toggler {
  background-color: #fafafa;
}
header .navbar .nav-item {
  text-align: right;
}
header .navbar .nav-item .nav-link {
  color: #fafafa;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.4em;
}
header .navbar .nav-item .nav-link:hover {
  text-decoration: none;
  color: #BDBDBD;
}
header .navbar-brand img {
  height: 40px;
  padding-top: 10px;
}

/* ----- HOMEPAGE ----- */
.peter img {
  width: 100%;
  padding: 0;
}

.jumbotron a:hover {
  text-decoration: none;
}

.readmore p {
  text-align: center;
  color: #191919;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.1em;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}
.readmore p a {
  text-decoration: none;
}
.readmore p::after {
  content: " ";
  display: block;
  width: 50px;
  margin: auto;
  height: 2px;
  margin-top: 10px;
  background-color: #191919;
}
.readmore p::before {
  content: " ";
  display: block;
  width: 50px;
  margin: auto;
  height: 2px;
  margin-bottom: 10px;
  background-color: #191919;
}
.readmore p:hover {
  transform: scale(1.1);
}

.menu {
  background-color: #191919;
}
.menu h1, .menu p {
  color: #fafafa;
}
.menu img {
  width: 100%;
}
.menu p {
  padding-bottom: 10px;
}
.menu section {
  position: relative;
}

.fullmenu p {
  position: absolute;
  bottom: 15px;
  left: 40%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.1em;
  transition: transform 0.2s ease-in-out;
}
.fullmenu p::after {
  content: " ";
  display: block;
  width: 50px;
  margin: auto;
  height: 2px;
  margin-top: 10px;
  background-color: #fafafa;
}
.fullmenu p::before {
  content: " ";
  display: block;
  width: 50px;
  margin: auto;
  height: 2px;
  margin-bottom: 10px;
  background-color: #fafafa;
}
.fullmenu p:hover {
  transform: scale(1.1);
}

.card {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  transition: transform 0.2s ease-in-out;
}
.card .card-body {
  text-align: right;
}
.card .card-body h5 {
  font-weight: 700;
  text-transform: uppercase;
  text-align: right;
  color: #191919;
}
.card:hover {
  transform: scale(1.1);
}
.card:last-child {
  margin-bottom: 30px;
}

/* ----- MENU ----- */
.menupage {
  padding: 10px;
}
.menupage h2 {
  text-align: right;
  text-transform: uppercase;
  font-size: 1.5em;
  padding-top: 30px;
}
.menupage article {
  width: 100%;
  margin-top: 30px;
}
.menupage article .flex {
  display: flex;
  justify-content: space-between;
}
.menupage article .flex .menuitem p {
  text-align: left;
}
.menupage article .flex .price p {
  text-align: right;
}
.menupage article .flex li p {
  text-transform: uppercase;
  line-height: 3em;
}
.menupage .border1,
.menupage .border2 {
  border: 1px solid #191919;
  padding: 5px;
}
.menupage img {
  width: 100%;
  padding: inherit;
}

/* ----- GALLERY ----- */
.pagination .page-link {
  border: 1px solid #191919;
  color: #191919;
}
.pagination .page-link:hover {
  background-color: #191919;
  color: #fafafa;
}
.pagination a {
  font-size: 0.7em;
}
.pagination .active {
  background-color: #191919;
  color: #fafafa;
}

/* ----- OUR RESTAURANTS ----- */
.title {
  margin-bottom: 30px;
}
.title ul {
  text-align: right;
  margin-right: 5px;
}
.title ul a {
  text-transform: uppercase;
  text-decoration: none;
  color: #191919;
  font-weight: 700;
}
.title ul a:hover {
  color: #BDBDBD;
}

.london,
.vancouver {
  border: 1px solid #191919;
  margin: 5px;
  padding: 5px;
  margin-bottom: 30px;
}
.london h2,
.vancouver h2 {
  margin-top: 30px;
  color: #191919;
  text-align: right;
  text-transform: uppercase;
}
.london p,
.vancouver p {
  padding: inherit;
  color: #191919;
  text-align: right;
}
.london .maps,
.vancouver .maps {
  width: 100%;
}
.london .adres p,
.vancouver .adres p {
  text-transform: uppercase;
  line-height: 1.5em;
}
.london .googlemaps,
.vancouver .googlemaps {
  text-transform: uppercase;
  font-weight: 700;
  margin: auto;
  font-size: 1.3em;
  padding-top: 15px;
  transition: transform 0.2s ease-in-out;
}
.london .googlemaps::after,
.vancouver .googlemaps::after {
  content: " ";
  display: block;
  width: 50px;
  margin: auto;
  height: 2px;
  background-color: #191919;
}
.london .googlemaps::before,
.vancouver .googlemaps::before {
  content: " ";
  display: block;
  width: 50px;
  margin: auto;
  height: 2px;
  background-color: #191919;
}
.london .googlemaps:hover,
.vancouver .googlemaps:hover {
  background-color: #fafafa;
  color: #191919;
  border: none;
  transform: scale(1.1);
}
.london .googlemaps p,
.vancouver .googlemaps p {
  text-align: center;
}
.london .description1 p,
.vancouver .description1 p {
  padding: 0;
}
.london .googlemaps,
.vancouver .googlemaps {
  display: block;
}
.london .adres1,
.vancouver .adres1 {
  display: none;
}
.london .maps,
.vancouver .maps {
  display: none;
}
.london .flex,
.vancouver .flex {
  display: flex;
  justify-content: center;
}
.london .flex ul,
.vancouver .flex ul {
  margin-top: 40px;
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid #191919;
}
.london .flex ul .day p,
.vancouver .flex ul .day p {
  text-align: right;
}
.london .flex ul .hour p,
.vancouver .flex ul .hour p {
  text-align: left;
}
.london .flex ul:last-child,
.vancouver .flex ul:last-child {
  border: none;
}
.london .flex ul li p,
.vancouver .flex ul li p {
  text-transform: uppercase;
  line-height: 1em;
}

.stockholm {
  border: 1px solid #191919;
  margin: 5px;
  padding: 5px;
  margin-bottom: 30px;
  border: none;
  background-color: inherit;
}
.stockholm .adres {
  display: none;
}
.stockholm .description p {
  padding: 0;
}
.stockholm h2 {
  margin-top: 30px;
  color: #191919;
  text-align: right;
  text-transform: uppercase;
}
.stockholm p {
  padding: inherit;
  color: #191919;
  text-align: right;
}
.stockholm .maps {
  width: 100%;
}
.stockholm .adres p {
  text-transform: uppercase;
  line-height: 1.5em;
}
.stockholm .maps {
  display: none;
}
.stockholm .googlemaps {
  text-transform: uppercase;
  font-weight: 700;
  margin: auto;
  font-size: 1em;
  padding-top: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: transform 0.2s ease-in-out;
}
.stockholm .googlemaps::after {
  content: " ";
  display: block;
  width: 50px;
  margin: auto;
  height: 2px;
  background-color: #191919;
}
.stockholm .googlemaps::before {
  content: " ";
  display: block;
  width: 50px;
  margin: auto;
  height: 2px;
  background-color: #191919;
}
.stockholm .googlemaps:hover {
  background-color: #fafafa;
  color: #191919;
  border: none;
  transform: scale(1.1);
}
.stockholm .googlemaps p {
  text-align: center;
}
.stockholm .containerflex1 {
  display: none;
}
.stockholm h2 {
  margin-top: 30px;
  color: #191919;
  text-align: left;
}
.stockholm p {
  color: #191919;
  text-align: left;
  text-transform: none;
}
.stockholm .flex {
  display: flex;
  justify-content: center;
}
.stockholm .flex ul {
  margin-top: 40px;
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid #191919;
}
.stockholm .flex ul .day p {
  text-align: right;
}
.stockholm .flex ul .hour p {
  text-align: left;
}
.stockholm .flex ul:last-child {
  border: none;
}
.stockholm .flex ul li p {
  text-transform: uppercase;
  line-height: 1em;
}

/* ----- CONTACT ----- */
form .form-group {
  color: #191919;
  font-size: 0.7em;
}
form .btn {
  text-transform: uppercase;
  color: #191919;
  font-weight: 700;
  background-color: #fafafa;
  border: none;
  margin: auto;
  margin-bottom: 30px;
  transition: transform 0.2s ease-in-out;
}
form .btn::after {
  content: " ";
  display: block;
  width: 50px;
  margin: auto;
  height: 2px;
  background-color: #191919;
}
form .btn::before {
  content: " ";
  display: block;
  width: 50px;
  margin: auto;
  height: 2px;
  background-color: #191919;
}
form .btn:hover {
  background-color: #fafafa;
  color: #191919;
  border: none;
  transform: scale(1.1);
}

.imgnext img {
  display: none;
}

/* ----- FOOTER ----- */
footer {
  background-color: #191919;
  text-align: center;
  color: #fafafa;
}
footer p {
  font-size: 0.7em;
}
footer ul {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
footer ul a {
  font-size: 1.5em;
  text-decoration: none;
  padding: 10px;
  color: #fafafa;
}
footer ul a:hover {
  color: #BDBDBD;
}
footer a {
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 30px;
}
footer a:hover {
  text-decoration: none;
}
footer a p {
  text-align: center;
  color: #fafafa;
  margin: 30px;
  transition: transform 0.2s ease-in-out;
}
footer a p::after {
  content: " ";
  display: block;
  width: 50px;
  margin: auto;
  height: 2px;
  background-color: #fafafa;
  margin-top: 5px;
}
footer a p::before {
  content: " ";
  display: block;
  width: 50px;
  margin: auto;
  height: 2px;
  background-color: #fafafa;
  margin-bottom: 5px;
}
footer a p:hover {
  transform: scale(1.1);
}
footer img {
  height: 30px;
  margin: 5px 0 30px 0;
}

/* ----- QUERIES ----- */
@media screen and (min-width: 480px) {
  .footer {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer p {
    margin-right: 10px;
    padding-bottom: 10px;
  }
  .footer img {
    margin-left: 10px;
  }
}
@media screen and (min-width: 576px) {
  .fullmenu {
    display: none;
  }

  .fullmenuleft p {
    position: absolute;
    bottom: 15px;
    left: 40%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.1em;
    transition: transform 0.2s ease-in-out;
  }
  .fullmenuleft p::after {
    content: " ";
    display: block;
    width: 50px;
    margin: auto;
    height: 2px;
    margin-top: 10px;
    background-color: #fafafa;
  }
  .fullmenuleft p::before {
    content: " ";
    display: block;
    width: 50px;
    margin: auto;
    height: 2px;
    margin-bottom: 10px;
    background-color: #fafafa;
  }
  .fullmenuleft p:hover {
    transform: scale(1.1);
  }

  .vancouver .googlemaps,
.london .googlemaps,
.stockholm .googlemaps {
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  .peter {
    margin-bottom: 30px;
  }

  .menu h1, .menu p {
    text-align: left;
  }

  .jumbotron {
    padding-top: 0;
  }

  .menupage {
    padding: 10px;
  }
  .menupage h2 {
    text-align: right;
    text-transform: uppercase;
    font-size: 1.5em;
    padding-top: 30px;
  }
  .menupage article {
    width: 100%;
    margin-top: 30px;
  }
  .menupage article .flex {
    display: flex;
    justify-content: space-between;
  }
  .menupage article .flex .menuitem p {
    text-align: left;
  }
  .menupage article .flex .price p {
    text-align: right;
  }
  .menupage article .flex li p {
    line-height: 1.5em;
  }

  .london,
.vancouver {
    display: flex;
  }
  .london .description1 p,
.vancouver .description1 p {
    padding: 0;
  }
  .london .adres1,
.vancouver .adres1 {
    display: block;
    order: -1;
    margin-top: 30px;
  }
  .london .adres1 p,
.vancouver .adres1 p {
    text-align: left;
    padding: 0;
  }
  .london .containerflex,
.vancouver .containerflex {
    max-height: 407px;
    display: block;
    margin-bottom: 30px;
  }
  .london .containerflex .googlemaps,
.vancouver .containerflex .googlemaps {
    display: none;
  }
  .london .containerflex .maps,
.vancouver .containerflex .maps {
    display: block;
    width: 100%;
    height: 300px;
  }

  .stockholm .containerflex {
    max-height: 407px;
    display: block;
    margin-bottom: 30px;
  }
  .stockholm .containerflex .maps {
    display: block;
    width: 100%;
    height: 300px;
  }
  .stockholm .containerflex .googlemaps {
    display: none;
  }
  .stockholm .adres {
    display: block;
  }
  .stockholm .adres p {
    text-align: right;
    margin-top: 30px;
    text-transform: none;
  }
  .stockholm .description p {
    padding: 0;
  }
}
@media screen and (min-width: 992px) {
  .menupage {
    margin-bottom: 30px;
  }

  .imgnext img {
    display: block;
    margin: auto;
    width: 90%;
    margin: 30px 0;
  }
}

/*# sourceMappingURL=style.css.map */
